.piece {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: lightgray;
	border-radius: 5px;
	box-shadow: 2px 2px 3px 1px gray;
	width: 100%;
	height: 50px;
}

.dark {
	background-color: dimgray;
	color: white;
	box-shadow: 2px 2px 3px 1px darkgray;
	transition: 150ms;
}

@media only screen and (max-width: 700px) {
	.piece {
		height: 70px;
	}
}
