#app {
	position: absolute;
	min-width: 100vw;
	min-height: 100vh;
	transition-duration: 150ms;
	transition-property: background-color, color;
	padding-bottom: 60px;
	box-sizing: border-box;
}
#app.dark {
	background-color: gray;
	color: white;
}
